[package]
authors = ["Ilya Bylich <ibylich@gmail.com>"]
description = "Ruby parser"
edition = "2018"
include = ["gen/**/*.rs", "src/**/*.rs", "build.rs", "Cargo.toml"]
license = "MIT"
name = "lib-ruby-parser"
repository = "https://github.com/lib-ruby-parser/lib-ruby-parser"
version = "3.0.6"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []

# Uses external structures
compile-with-external-structures = []

# Link with C library that provides external structures
link-with-external-c-structures = []

# Link with CXX library that provides external structures
link-with-external-cpp-structures = []

# Forces building parser.y and all node files
rebuild-grammar = ["lib-ruby-parser-nodes", "rust-bison-skeleton"]

# Enables optional dependencies for examples
run-examples = ["clap", "glob", "jemallocator", "pprof"]

[dependencies]
onig = {version = "6", optional = true}

# Dependencies of examples
clap = {version = "3.0.0-beta.2", optional = true}
glob = {version = "0.3.0", optional = true}
jemallocator = {version = "0.3.2", optional = true}
pprof = {version = "0.4.2", features = ["flamegraph"], optional = true}

[build-dependencies]
lib-ruby-parser-nodes = {version = "0.13.0", optional = true}
rust-bison-skeleton = {version = "0.28.0", optional = true}

[profile.dev]
debug-assertions = false

[profile.release]
lto = true

[profile.test]
debug-assertions = true
