name: coverage

on:
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    name: coverage
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.2"

      - name: setup bison
        uses: bison-packages/install-bison@v1
        with:
          version: '3.8.2'

      - name: install ragel
        run: |
          sudo apt-get update
          sudo apt-get install ragel

      - name: codegen tests
        run: make codegen-tests

      - name: codegen rust
        run: make codegen-rust

      - name: cargo-tarpaulin
        run: |
          cargo install cargo-tarpaulin
          make test-cov

      - name: upload to codecov.io
        uses: codecov/codecov-action@v3.1.4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
