name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
          - beta
          # - nightly
        features: ["onig,rebuild-grammar"]

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: install bison
        run: |
          brew install bison
          echo "/usr/local/opt/bison/bin" >> $GITHUB_PATH
          bison --version

      - name: Run tests
        run: cargo test --features ${{ matrix.features }} -- --nocapture
